<%= render 'share/header' %>

<h1>マウスの詳細情報のページ</h1>

<div class="mice">
  <ul>マウス一覧
      <li>
          <div class="mouse-detail">
            <%= image_tag @mouse.image.variant(resize: '300x200'), class:"image_tag" %>
          </div>

          <div class="mouse-detail">
            <td><%= @mouse.name %></td>
          </div>

          <div class="mouse-detail">
            <td><%= @mouse.maker.name %></td>
          </div>
      </li>
  </ul>
</div>